[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
mkdocs = "==1.1"
mkdocs-material = "==5.1.1"
pygments = "==2.6.1"
pymdown-extensions = "==7.0"
mkdocs-minify-plugin = "==0.3.0"

[requires]
python_version = "3.7"

[scripts]
serve = "mkdocs serve"
deploy = "mkdocs master"
build = "mkdocs build --verbose --clean --strict"
